$primary:#6C63FF;
$secondary:#F4A261;
$background:#F8F9FA;
$text:#343A40;
$error:#E63946;
$success:#2A9D8F;



.header {
  color: $text;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  width: calc(100% - 10%);
  position: fixed;
  background-color: $background;
  z-index: 9;
}

.logo{
  width:64px;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_nav{
  display: flex;
  ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    li{
      margin: 0 20px;
      color: $text;
      a{
        color: $text;
        text-decoration: none;
      }
      a:hover{
        color: $primary;
      }
      i{
        margin-left: 5px;
        font-size: 20px;
      }
    }
  }
}

.content_bar{
  width: 90%;
  padding: 5% 5%;
  background: $background;
  display: flex;
  flex-wrap: wrap;
}
.title{
  width: 100%;
  padding: 2% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text_title{
  color: $text;
}

.movies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  h2{
    color: $text;
  }
  .pagination_popular{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination_content{
      margin: 10px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color:white;
        text-decoration: none;
        background-color: $primary;
        padding: 10px 15px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
      }
    }
  }
}

.movie_card{
  width:22%;
  height: 500px;
  align-items: center;

}

  .details_popup{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
      .details_con{
        width: 850px;
        height: 550px;
        display: flex;
        .details_img{
          width: 45%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .details_content_part{
          width: 55%;
          height: 100%;
          background-color:$background;
          padding: 0 4%;
          transition: 0.5s ease-out;
          .details_title{
            width: 100%;
            margin-top:30px;
            margin-bottom:5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
              font-size: 24px;
              margin: 0;
              color: $text;
            }
            a{
              color: $primary;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              i{
                font-size: 22px;
              }
            }
          }
          .details_key_words{
            width: 100%;
            margin-top:5px;
            margin-bottom:50px;
            p{
              font-size: 12px;
            }
          }
          .details_desc{
            width: 100%;
            p{
              font-size: 15px;
              letter-spacing: 1px;
              color: $text;
            }
          }
          .details_category{
            width: 100%;
            margin-top: 40px;
            .category{
              font-size: 14px;
              color: #575c60;
              margin:0;
            }
            .category_name{
              font-size: 16px;
              color: $text;
              margin-top: 6px;
            }
          }
          .details_rating{
            width: 100%;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
              color: $text;
              font-size: 16px;
            }
            .rating_info{
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 10px;
              i{
                color: gold;
                font-size: 20px;
                margin-right: 5px;
              }
            }
          }
        }
        .reviews_title{
          width: 100%;
          margin-top:30px;
          margin-bottom:5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1{
            font-size: 24px;
            margin: 0;
            color: $text;
          }
          .swipe_link{
            color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i{
              font-size: 22px;
            }
          }
        }
        .reviews_list{
          width: 100%;
          height: 73%;
          background-color: $background;
          overflow-y: auto;
          .reviews_list_swipeable{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .review_card{
              width: 70%;
              padding: 5px;
              background-color: $primary;
              margin: 20px 0;
              border-radius: 10px 10px 10px 0;
              h1{
                font-size: 18px;
                color: white;
                margin-left:10px;
              }
              h2{
                font-size: 15px;
                color: #bfbfbf;
                margin-left:10px;
                margin-top: -5px;
                font-weight: 400;
              }
            }
          }
        }.write_review_con{
          width: 100%;
          height: 12%;
          form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position:relative;
            input {
              width: 100%;
              height: 30px;
              padding-left: 10px;
              border: none;
              border-bottom: 2px solid $primary;
              background-color: transparent;
              color: $text;
            }
            .button_send{
              position: absolute;
              background-color: transparent;
              top: 15px;
              right: -15px;
              i{
                color: $primary;
                font-size: 16px;
              }
            }
            .button_send:hover{
              border: none;
            }

            input:focus {
              outline: none;
            }

            input::placeholder {
              color: $text;
            }
          }
        }
      }
    }


.movie_img{
  width: 100%;
  height: 80%;
  img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.movie_desc{
  width: 94%;
  padding: 1% 3%;
  height: 28%;
  color: $text;
  .desc_con2{
    width: 100%;
    height: 20%;
    .desc_date{
      font-size: 12px;
    }
  }
  .desc_con1{
    width: 100%;
    height: 15%;
  }
  .desc_con3{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .add_btn{
      padding: 10px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $primary;
      color: white;
      cursor: pointer;
    }
    .rmv_btn{
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $error;
      color: white;
      cursor: pointer;
    }
  }
}


.login_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_card {
    padding: 50px 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 400px;
    .card_con {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-sizing: border-box;
      height: auto;
    }

    .route_bounce {
      width: 100%;
      padding-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
    }

    .active_a {
      color: $primary;
      margin-right: 10px;
      cursor: pointer;
      text-decoration: underline;
    }

    .inactive_a {
      color: $text;
      text-decoration: none;
      margin-right: 10px;
      cursor: pointer;
    }

    form {
      width: 100%;
      box-sizing: border-box;


      .login_input {
        width: 100%;
        height: 40px;
        border: 1px solid #afafaf;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 0 10px;
        background-color: white;
        color: $text;
        box-sizing: border-box;
      }

      .login_input:focus {
        outline: none;
      }

      .login_btn {
        width: 100%;
        background-color: $primary;
        height: 40px;
        border: none;
        cursor: pointer;
      }

      .errors{
        width: 100%;
        padding: 20px 0;
        color: $error;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .login_btn:hover {
        opacity: 0.8;
      }
    }

      .separate_line {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        .line {
          background: linear-gradient(to right, white, #c8c7c7, #c8c7c7, white);
          height: 1px;
          width: 100%;
        }
      }


      .fg_ps_div {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        .fg_ps_link {
          color: $text;
          text-decoration: none;
        }
      }
  }
}



.acc_popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 9;
      opacity: 0;
      pointer-events: none;
      transition: background 0.3s ease;
      .popup_content {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 60px;
          right: 90px;
          width: 150px;
          height: 120px;
          background-color: $primary;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          z-index: 10;
          border-radius: 5px;
          opacity: 0;
          transform: translateY(-100px);
          transition: opacity 0.3s, transform 0.3s;
          .link_container {
            width: 100%;
            height: 33%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .popup_links {
              margin-left: 20px;
              color: #fff;
              text-decoration: none;
              cursor: pointer;
            }
          }
          .link_container:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }
      }
      .popup_content_show {
        opacity: 1;
        transform: translateY(0);
      }
}

.acc_popup_show {
  pointer-events: auto;
  opacity: 1;
  }

.profile_container {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  background-color: $secondary;
  .profile_card{
    width: 60%;
    height: 76%;
    padding: 2% 5%;
    background-color: $background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .username{
      color: $text;
    }
    h2{
      color: $text;
    }
  }
}

.message_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9;
  opacity: 1;
  pointer-events: none;
  .messageBox{
    position: absolute;
    right:0;
    top: 0;
    width: 350px;
    height:30px;
    padding:5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;

    .eventresult{
      color: white;
    }
  }
  .messageBox.success{
    background-color: $success;
  }
  .messageBox.error{
    background-color: $error;
  }
}


.reviews_list{
  padding-top: 90px;
  width: 97%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-left:3%;
  h2{
    color: $text;
  }
  .user_review_card{
    padding: 10px 20px 20px 20px;
    background-color: $primary;
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    .review_title{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      h1{
        color: white;
        font-size: 20px;
        margin: 0;
      }
      i{
        top: 11px;
        right: 10px;
        font-size: 20px;
        margin:0;
      }
    }
    h2{
      font-size: 16px;
      font-weight: 400;
      color: #b8b8b8;
    }
  }
}

.content_header{
  width: 100%;
  height:100%;
  background-color: $primary;
  display: flex;

}



.scroll_side_bar{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .scroll_side_bar_content {
    width: 80%;
    height: 60%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .scroll_prev_btn {
      position: absolute;
      background-color: transparent;
      color: white;
      z-index: 2;
      left: -15px;
      font-size: 30px;
      border: none;
      outline: none;
    }

    .scroll_prev_btn:focus {
      outline: none;
    }

    .scroll_prev_btn:hover {
      border: none;
      color: $secondary;
    }

    .scroll_next_btn {
      position: absolute;
      background-color: transparent;
      color: white;
      z-index: 2;
      right: -15px;
      font-size: 30px;
      border: none;
      outline: none;
    }

    .scroll_next_btn:focus {
      outline: none;
    }

    .scroll_next_btn:hover {
      border: none;
      color: $secondary;
    }

    .dark {
      width: 100%;
      height: 99%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      z-index: 1;
      border-radius: 15px;
    }

    .carousel_container {
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 15px;
      .carousel_items{
        display: flex;
        transition: transform 0.3s ease-in-out;
        border-radius: 15px;
      .carousel_item {
        min-width: 100%;
        height: 100%;
        position: relative;
        .carousel_img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
        .item_title{
          position: absolute;
          color: white;
          top: 65%;
          left: 5%;
          z-index: 3;
          font-size: 40px;
        }
        .item_key_words{
          position: absolute;
          color: white;
          z-index: 3;
          top: 78%;
          left: 5%;
          font-size: 16px;
          font-weight: 400;
        }
      }
      }
    }
    }
  }.scroll_side_bar{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .scroll_side_bar_content {
    width: 80%;
    height: 60%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .scroll_prev_btn {
      position: absolute;
      background-color: transparent;
      color: white;
      z-index: 2;
      left: -15px;
      font-size: 30px;
      border: none;
      outline: none;
    }

    .scroll_prev_btn:focus {
      outline: none;
    }

    .scroll_prev_btn:hover {
      border: none;
      color: $secondary;
    }

    .scroll_next_btn {
      position: absolute;
      background-color: transparent;
      color: white;
      z-index: 2;
      right: -15px;
      font-size: 30px;
      border: none;
      outline: none;
    }

    .scroll_next_btn:focus {
      outline: none;
    }

    .scroll_next_btn:hover {
      border: none;
      color: $secondary;
    }

    .carousel_container{
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 15px;
      .carousel_items{
        display: flex;
        transition: transform 0.3s ease-in-out;
        border-radius: 15px;
      .carousel_item {
        min-width: 100%;
        height: 100%;
        position: relative;
        .dark {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 0;
          z-index: 1;
          border-radius: 15px;
        }
        .carousel_img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
        .item_title{
          position: absolute;
          color: white;
          top: 65%;
          left: 5%;
          z-index: 3;
          font-size: 40px;
        }
        .item_key_words{
          position: absolute;
          color: white;
          z-index: 3;
          top: 78%;
          left: 5%;
          font-size: 16px;
          font-weight: 400;
        }
      }
      }
    }
    }
  }
.header_desc{
  width: 40%;
  height: 100%;
  .header_inner_desc{
    width: 90%;
    height: 90%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .upper_text{
      width: 100%;
      margin-top: 100px;
      h1{
        font-size: 70px;
        margin: 0;
      }
    }
    .bottom_text{
      width: 100%;
      margin-top: 30px;
      h2{
        font-size: 26px;
        font-weight: 400;
        text-align: justify-all;
      }
    }
    .get_started_btn{
      width: 100%;
      margin-top: 20px;
      a{
        padding: 15px 20px;
        background-color: white;
        color: $text;
        border-radius: 5px;
      }
    }
  }
}

.index_movie_bar{
  width: 100%;
  height: 100%;
  background-color: $background;
  .best_movies{
    display: flex;
    width: 100%;
    margin-top: 90px;
    align-items: center;
    margin-bottom: 50px;
    .best_bdr{
      background-color: $primary;
      width: 6px;
      height: 30px;
      border-radius: 4px;
      margin-left: 5%;
      margin-right: 5px;
    }
    h1{
      color: $text;
      font-size: 30px;
      margin: 0;
    }
  }
  .best_movies_container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .best_scroll_right,.best_scroll_left{
      position: absolute;
      border: none;
      outline: none;
      height: 60px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      font-size: 16px;
      z-index: 2;
    }
    .best_scroll_right{
      left: 20px;
    }
    .best_scroll_left{
      right: 20px;
    }
    .best_scroll_right:hover,.best_scroll_left:hover{
      border: none;
    }
    .best_scroll_right:focus,.best_scroll_left:focus{
      outline: none;
    }
    .best_movies_slider{
      width: 95%;
      height: 95%;
      display: flex;
      overflow-y: scroll;
      scroll-snap-type: x mandatory;
      .best_movies_list {
        width: 6000px;
        display: flex;
        z-index: 1;
        .best_movie_card {
          width: 220px;
          height: 500px;
          margin-right: 10px;
          z-index: 1;
          .best_movies_img_part {
            width: 100%;
            height: 320px;
            z-index: 1;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0 5px 0 0;
            }
          }

          .best_movies_info_part {
            width: 90%;
            height: 180px;
            background-color: $primary;
            border-radius: 0 0 10px 10px;
            padding: 0 5%;
            .best_rating_part{
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              i{
                font-size: 16px;
                color: gold;
                margin: 3px 0;
              }
              p{
                font-size: 18px;
                margin: 5px 5px;
              }
            }.best_title_part{
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              height: 45px;
              margin-top: 2px;
              h1{
                font-size: 18px;
                color: white;
              }
           }
            .best_key_words_part{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              h2{
                font-size: 16px;
                color: white;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .best_movies_slider::-webkit-scrollbar {
      display: none;
    }
  }
}


